{{ $email := promptStringOnce . "email" "E-Mail" "alicia@aliciabytes.com" -}}
{{ $name := promptStringOnce . "name" "Name" "Alicia Jasmine Miedl" -}}
{{ $work := promptBoolOnce . "work" "Is this a work system" false }}

data:
  email: {{ $email | quote }}
  name: {{ $name | quote }}
  work: {{ $work }}
env:
progress: true
diff:
  command: code
  args: "--diff"
