[alias]
    attribution = blame -w -C -C -C
[branch]
    sort = -committerdate
[commit]
    verbose = true
    cleanup = scissors
[core]
    autocrlf = input
    editor = code --wait
    excludesfile = ~/.gitignore
    fsmonitor = true
    pager = delta
    untrackedcache = true
[diff]
    algorithm = histogram
    submodule = log
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[fetch]
    prune = true
[gpg]
    {{ if eq .chezmoi.os "windows" -}}
    program = c:/Program Files (x86)/GnuPG/bin/gpg.exe
    {{ else -}}
    program = gpg
    {{ end -}}
[init]
    defaultBranch = main
[interactive]
    diffFilter = delta
[log]
    date = iso
    showSignature = true
[merge]
    conflictStyle = zdiff3
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[pull]
    rebase = true
[push]
    autoSetupRemote = true
    default = simple
[rebase]
    autosquash = true
    autostash = true
[rerere]
    enabled = true
[status]
    submoduleSummary = true
[submodule]
    recurse = true
[url "git@github.com:"]
    insteadOf = "https://github.com/"
[url "git@github.com:"]
    insteadOf = "gh:"
[user]
    email = alicia@aliciabytes.com
    name = Alicia Miedl
