[alias]
    attribution = blame -w -C -C -C
    cleanup = "!git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
[blame]
    date = iso
[branch]
    sort = -committerdate
[commit]
    cleanup = scissors
    gpgSign = true
    verbose = true
[core]
    attributesfile = ~/.gitattributes
    autocrlf = input
    editor = code --wait
    excludesfile = ~/.gitignore
    {{ if eq .chezmoi.os "windows" -}}
    fsmonitor = true
    {{ end -}}
    pager = delta
    untrackedcache = true
[diff]
    algorithm = histogram
    submodule = log
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[fetch]
    prune = true
[format]
[gpg]
    {{ if eq .chezmoi.os "windows" -}}
    program = c:/Program Files (x86)/GnuPG/bin/gpg.exe
    {{ else -}}
    program = gpg
    {{ end -}}
[init]
    defaultBranch = main
[interactive]
    diffFilter = delta
[log]
    date = format:%F %T
    showSignature = true
[merge]
    {{ if eq .chezmoi.os "windows" -}}
    conflictStyle = zdiff3
    {{ else -}}
    conflictStyle = diff3
    {{ end -}}
    ff = only
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[pager]
[pretty]
[pull]
    rebase = true
[push]
    autoSetupRemote = true
    default = simple
[rebase]
    autosquash = true
    autostash = true
[rerere]
    enabled = true
[status]
    submoduleSummary = true
[submodule]
    recurse = true
[tag]
    gpgSign = true
[url "git@github.com:"]
    insteadOf = "https://github.com/"
[url "git@github.com:"]
    insteadOf = "gh:"
[user]
    email = {{ .email | quote}}
    name = {{ .name | quote }}
