{{ if eq .chezmoi.os "windows" }}
SSH_AUTH_SOCK='\\.\pipe\openssh-ssh-agent'
{{ else }}
SSH_AUTH_SOCK=~/.ssh/agent.sock
{{ end }}
{{ if .work }}
ssh_key=~/.ssh/id_ed25519
{{ else }}
ssh_key=~/.ssh/id_ed25519_sk_keyring
{{ end }}

agent_start() {
    (
        umask 077
        ssh-agent -a "$SSH_AUTH_SOCK" >|/dev/null
    )
}

# agent_run_state: 0=agent running w/ key; 1=agent w/o key; 2=agent not running
agent_run_state=$(
    ssh-add -l >|/dev/null 2>&1
    echo $?
)

if [ $agent_run_state = 2 ]; then
    agent_start
    ssh-add "$ssh_key"
elif [ $agent_run_state = 1 ]; then
    ssh-add "$ssh_key"
fi

{{ if eq .chezmoi.os "windows" }}
setx SSH_AUTH_SOCK "$SSH_AUTH_SOCK" >|/dev/null
{{ end }}

unset ssh_key
