{{ if eq .chezmoi.os "windows" -}}
# Regenerate with: for file in /c/Program\ Files\ \(x86\)/GnuPG/bin/*.exe; do echo "alias $(basename "$(cygpath -u "$file" )" .exe)=\"$file\""; done
alias dirmngr="/c/PROGRA~2/GnuPG/bin/dirmngr.exe"
alias dirmngr_ldap="/c/PROGRA~2/GnuPG/bin/dirmngr_ldap.exe"
alias gpg="/c/PROGRA~2/GnuPG/bin/gpg.exe"
alias gpg-agent="/c/PROGRA~2/GnuPG/bin/gpg-agent.exe"
alias gpg-card="/c/PROGRA~2/GnuPG/bin/gpg-card.exe"
alias gpg-check-pattern="/c/PROGRA~2/GnuPG/bin/gpg-check-pattern.exe"
alias gpgconf="/c/PROGRA~2/GnuPG/bin/gpgconf.exe"
alias gpg-connect-agent="/c/PROGRA~2/GnuPG/bin/gpg-connect-agent.exe"
alias gpgme-w32spawn="/c/PROGRA~2/GnuPG/bin/gpgme-w32spawn.exe"
alias gpg-preset-passphrase="/c/PROGRA~2/GnuPG/bin/gpg-preset-passphrase.exe"
alias gpgsm="/c/PROGRA~2/GnuPG/bin/gpgsm.exe"
alias gpgtar="/c/PROGRA~2/GnuPG/bin/gpgtar.exe"
alias gpgv="/c/PROGRA~2/GnuPG/bin/gpgv.exe"
alias gpg-wks-client="/c/PROGRA~2/GnuPG/bin/gpg-wks-client.exe"
alias keyboxd="/c/PROGRA~2/GnuPG/bin/keyboxd.exe"
alias pinentry-basic="/c/PROGRA~2/GnuPG/bin/pinentry-basic.exe"
alias scdaemon="/c/PROGRA~2/GnuPG/bin/scdaemon.exe"
{{ end -}}
